<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!--
      Copia questo file e rinominalo in App.config
      Sostituisci i valori SERVER, PORT, DATABASE, USER e PASSWORD con i tuoi dati
    -->
    <add name="Phisio" connectionString="Server=SERVER;Port=PORT;Database=DATABASE;User Id=USER;Password=PASSWORD;Pooling=true;" providerName="PostgreSQL" />
  </connectionStrings>
  <appSettings>
    <add key="STS_Endpoint_Test" value="https://invioSS730pTest.sanita.finanze.it/DocumentoSpesa730pWeb/DocumentoSpesa730pPort"/>
    <add key="STS_Endpoint_Prod" value="https://invioSS730p.sanita.finanze.it/DocumentoSpesa730pWeb/DocumentoSpesa730pPort"/>
    <add key="STS_QueryEndpoint_Test" value="https://invioSS730pTest.sanita.finanze.it/InterrogazionePuntuale730Web/InterrogazionePuntuale730Port"/>
    <add key="STS_QueryEndpoint_Prod" value="https://invioSS730p.sanita.finanze.it/InterrogazionePuntuale730Web/InterrogazionePuntuale730Port"/>
    <add key="STS_UseTestEnvironment" value="true"/>
    <add key="STS_TestFiscalCode" value="MTOMRA66A41G224M"/>
    <add key="STS_TestTaxNumber" value="65498732105"/>
    <add key="STS_TestTipoSpesa" value="SP"/>
  </appSettings>
</configuration>
