<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="Phisio" connectionString="Server=localhost;Port=5434;Database=phisio1;User Id=fisiohelp;Password=Fmmp!(P)Qf$;Pooling=true;" providerName="PostgreSQL"/>
    <!--<add name="Phisio" connectionString="Server=localhost;Port=5432;Database=phisio;User Id=postgres;Password=erculeaprole;Pooling=true;" providerName="PostgreSQL" />-->
  </connectionStrings>
</configuration>
