<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!--
      Copia questo file e rinominalo in App.config
      Sostituisci i valori SERVER, PORT, DATABASE, USER e PASSWORD con i tuoi dati
    -->
    <add name="Phisio" connectionString="Server=SERVER;Port=PORT;Database=DATABASE;User Id=USER;Password=PASSWORD;Pooling=true;" providerName="PostgreSQL" />
  </connectionStrings>
</configuration>
